*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #8613B6; 
}

.header {
    height: 70px;
    width: 100%;
}

.header {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: #7C02D1;
    box-shadow: 0px 5px 20px #000;
    justify-content: space-evenly;
    align-items: center;
}
ul {
    list-style: none;
    display: flex;
}
.header li a {
    color: #fff;
    display: block;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}
.header li a:hover {
    color: #fff;
    display: block;
    text-decoration: none;
    margin-left: 10px;
    background-color: #C257FF;
    transition: 0.5s;
    transform: scale(1.1);
}
h1 {
    color: #ccc;
    border-radius: 10px;
    font-size: clamp(1em, 1em + 1vw, 2em);
}
h2, h3 {
    color: #ccc;
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 20px;
    font-size: clamp(1em, 1em + 1vw, 2em);
}
/* Tag clamp(valor minimo, valor desejável, valor maximo) */


.QuemSou {
    display: flex;
    max-height: 120px;
    padding-right: 30%;
    padding-left: 30%;
}
.QuemSou p {
    color: #ccc;
}
.QuemSou img {
    width: 100px;
    border-radius: 70px;
}


///* Meus Projetos *///

.section {
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}
.section div {
    height: 330px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: ;
    flex-wrap: wrap;
}
.projeto {
    
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    max-width: 300px;
    margin: 10px;
    border-radius: 15px;
}
.projeto img:hover {
    color: #fff;
    display: block;
    text-decoration: none;
    background-color: #C257FF;
    transition: 0.5s;
    transform: scale(1.1);
}
.projeto img {
    max-width: 300px;
    border-radius: 10px;
}
.projeto p {
    text-align: center;
    padding: 5px;
    max-height: 40px;
    color: #ccc;
    background-color: #7C02D1;
    border-radius: 10px;
}
.projeto p:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

///* FIM Meus Projetos *///

.sobre {
    width: 100%;
    justify-content: center;
}
.redes {
    max-width: 40%;
}
.redes a {
    color: #ccc;
    text-decoration: none;
}
.redes img {
    width: 20px;
}